@import "tailwindcss";

@theme {
  --color-primary: #008080;
  --color-primary-light: #e5f1f1;
  --color-primary-dark: #3b82f6;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #ccc;
    color: #242424;
    /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Your original variables */
    --primary: #008080;
    --primary-light: #e5f1f1;

    /* Extended palette */
    --primary-0: #f5fbfb; /* lightest */
    --primary-1: var(--primary-light, #e5f1f1);
    --primary-2: #c6e3e3;
    --primary-3: #96d0d0;
    --primary-4: #5cbcbc;
    --primary-5: var(--primary, #008080); /* base */
    --primary-6: #006d6d;
    --primary-7: #005a5a;
    --primary-8: #004747;
    --primary-9: #003434;
  }

  .btn {
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease,
      filter 0.1s ease;
    font-weight: 900;

    &:hover {
      filter: brightness(1.2); /* Increases brightness on hover */
    }

    &:active {
      transform: translateY(2px); /* Simulates button press */
      filter: brightness(0.7); /* Slightly darkens on press */
    }
  }

  .disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .card-gradient {
    background-image: linear-gradient(#ebffff, #ebffff, #ffffd6);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
